* {
  text-align: center;
}
.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
}

.button {
  width: 200px;
  padding: 20px;
  border: 1px lightgrey solid;
  cursor: pointer;
}
.button:hover {
  background: lightgrey;
}

.options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.scores {
  margin-top: auto;
}
